body {
    color: rgb(255, 177, 201);
    background: rgb(12, 1, 4);
    margin: 10px;
    text-align: center;
    font-optical-sizing: auto;
    font-family: "Hedvig Letters Serif", serif;
    font-style: normal;
}

h1{
    font-size: 50px;
}

p{
    font-size: 50px;
}