body {
    color: rgb(255, 177, 201);
    background: rgb(151, 161, 173);
    margin: 10px;
    text-align: center;
    font-optical-sizing: auto;
    font-family: "Hedvig Letters Serif", serif;
    font-style: normal;
}

header{
    background-color: rgb(49, 36, 30);
    text-align: center;
}

h1{
    font-size: 50px;
}

p{
    font-size: 50px;
}